{
   email heifurukawa1997@gmail.com
   acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

snippy.blanknodes.com {
  handle_path /api* {
    reverse_proxy backend:4000 
  }

  handle {
    reverse_proxy frontend:3000
  }
}